<section class="welcome-page">
  <div class="welcome-logo-container">
    <a href="/login"><img
        class="welcome-logo"
        src="/images/logo.png"
        alt="WealthWise logo"
      /></a>
  </div>
  <div class="welcome-text-container">
    <p class="welcome-text"> Start your new financial planning journey here.<br>
  </div>
</section>