<section class="logout-confirm-container">
    <p>Successfully logged out.<p>
    <p>Thank you for choosing WealthWise!</p> 
    <p>Click <a href="/" style="color: blue">here</a> to return to the home page.</p> 
</section>