<section class="form-container">
      <p>
        Reflect on your income and expenditures from the previous month prior to reviewing the following charts. <br />
        Identify any discrepancies, particularly those that may have slipped your memory, as these warrant your focus. <br />
        Pose the question to yourself: How can I improve my thinking towards managing my wealth?

      </p>
         <br />
      <a class="btn btn-primary reflection-botton" href="/items" style="color: rgb(241, 241, 247)">Click here when you have a good reflection in mind</a>
    </div>
  </form>
    <br />


</section>

